<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417857058565-277v83j9g0s607o9dcs5ohep6upmhg78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417857058565-277v83j9g0s607o9dcs5ohep6upmhg78</string>
	<key>API_KEY</key>
	<string>AIzaSyCPNtN_m_gBVRXu-7sZGCZVwe49QoCxTxg</string>
	<key>GCM_SENDER_ID</key>
	<string>417857058565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocStateMngmnt</string>
	<key>PROJECT_ID</key>
	<string>photo-feed-50829</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-feed-50829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417857058565:ios:b49f86cc381a2f10cee96c</string>
</dict>
</plist>